<?xml version="1.0"?>
<launch>
    
  <param name="capability_group" value="localization"/>

  <!-- Can be 'artoolkit5', 'aruco2_node', or 'aruco3_node' -->
  <arg name="tracker" default="aruco3_node"/>
  
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="0" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="1" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="2" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="3" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="4" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="5" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="6" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="7" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="8" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="9" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="10" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="11" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="12" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="13" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="14" /><arg name="tracker" value="$(arg tracker)"/></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="15" /><arg name="tracker" value="$(arg tracker)"/></include>

</launch>
